@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bgZoom {
  0% {
    transform: scale(1);
    background-position: 0% 50%;
  }
  100% {
    transform: scale(1.1);
    background-position: 100% 50%;
  }
}
.animate-bg-gradient {
  background: linear-gradient(270deg, #fef3c7, #fde68a, #fcd34d, #fbbf24, #f59e0b);
  background-size: 1000% 1000%;
  animation: bgZoom 15s ease-in-out infinite alternate;
}
.animate-bg-zoom {
  animation: bgZoom 3s ease-in-out infinite alternate;
  background-size: cover;
  will-change: transform;
}
.hero {
  background-color: #F16722;
  color: #FFFFFF;
}
.hero .cta-button {
  background-color: #FDC840;
  color: #3E2C1A;
}
.about {
  background-color: #F4F1EA;
  color: #3E2C1A;
}
.about h2 {
  color: #F16722;
}

.product-card {
  background-color: #FFF;
  border: 2px solid #F16722;
  color: #3E2C1A;
}
.product-card .price {
  color: #D92B2B;
}

.footer {
  background-color: #3E2C1A;
  color: #F4F1EA;
}
.footer a {
  color: #FDC840;
}
